p.background {
  font-family: "Gotham Black";
  color: #8c141e;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
  letter-spacing: 50px;
  line-height: 1.6;
  font-size: 230px;
}
  @media ( min-width: 1024px ){
  font-size: 190px!important;
}
  @media (min-width: 1440px) {
  font-size: 230px;
}