h1{
  color: white;
  font-family: "Gotham Light";
  font-weight: 100;
  line-height: 1.2;
  font-size: 28px;
  span{
    font-family: "Gotham pro";
    font-weight: 900;
  }
}
.m-section-main{
  background-image: url('../img/m-bigLogo.png');
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-y: 65%;
  background-position-x: 100%;

      img{
       width: 35%;


      }
}
header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.m-section-main{
  padding: 20px 30px;
}
p.paragraph {
  color: white;
  font-size: 11px;
  font-family: "Gotham Pro";
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.2;
}
.bold{
  color: white;
  font-size: 11px;
  font-family: "Gotham Bold";
  opacity: 1;
}
.form{
  display: flex;
  justify-content: start;
  flex-direction: column;
  input {
    padding: 12px 20px;
    width: 220px;
    border-radius: 30px;
    color: black;
    font-family: "Gotham Pro";
    font-size: 12px;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(255,200,10,0.5);
  margin-bottom: 10px;
  }
  input::-webkit-input-placeholder{
    font-family: "Gotham Bold";
    color: black;
  }
  input:-moz-placeholder{
    font-family: "Gotham Bold";
    color: black;
  }

  .btn {
    padding: 13px 30px;
    color: black;
    font-family: "Gotham Pro";
    font-weight: 700;
    background-color: #ffc80a;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 200, 10, 0.5);
    cursor: pointer;
    font-size: 10px;
    width: 130px;
  }
}
.arrowDown{
  width: 55px;
  height: 55px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  background-color: $yellow;
  background-image: url("../img/arrowDown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;

  box-shadow: 0 0 10px rgba(255, 200, 10, 0.5);
}
.burger{
  display: flex;
  justify-content: end;
  flex-direction: row;
}

img{
  max-width: 35%;


}