footer
  .footer
    .container
      .icons
        a
          img(src="./assets/img/facebook.png")
        a
          img(src="./assets/img/mail.png")
        a
          img(src="./assets/img/telegram.png")
      .privacy
        a privacy and cookie policy
      .video
        a
          .video-container
            p play video
            img(src="./assets/img/youtubeLogo.png")
        a.fixedArrow( onClick="arrowDown(); detectPage()")


