header
  .container
    .links-contaier
      a(href='#home') Главная
      a(href='#about') Реклама в подскастах
      a(href='#mark') Медийная реклама
      a(href='#ad') Реклама у блоггеров
    .phone-contaier
      img(src="./assets/img/phone.png")
      a(href='tel:+70000000000') +7 000-000-00-00