header
  .container
    .links-contaier
      a(href='google.com') Главная
      a(href='google.com') Реклама в подскастах
      a(href='google.com') Медийная реклама
      a(href='google.com') Реклама у блоггеров
    .phone-contaier
      img(src="./assets/img/phone.png")
      a(href='tel:+70000000000') +7 000-000-00-00