header
  .logo
    img(src="./assets/img/m-header-logo.png")
  .burger(onClick="activatesidebar()")
    img(src="./assets/img/burger.png")
.m-section-main
  .arrowDown
  h1
    span  Wild Digital Agency -
    br
    |Медийное диджитал
    br
    |агенство

  p.paragraph Мы специализируемся на новейших форматах и
    br
    |площадках, среди которых: видеохостинги,
    br
    | видеостриминговые сервисы, социальные сети и
    br
    |мессенджеры.
    br
    |
    br
    |Мы помогаем брендам успевать за трендами
    br
    |медиапотребления и присутствовать на самых
    br
    |актуальных площадках
    br
    | &nbsp
  p.bold Дикий мир новых медия открыт для вас
    br
    |
    br
    |
    br
    |&nbsp
  p.paragraph
    br
    | Мы вышлем вам красивую презентацию,
    br
    | цены и бенчмарки для медиапланирования.
  .form
    input(placeholder="Введите ваш e-mail:")
    .btn Презентация