.container
  img(src="./assets/img/thir-section.gif" class="ad-section-gif")
  h1.bold Реклама у блоггеров
  .parts-container
    .left-part
      p.paragraph Маркетинг влияния или Influence marketing это нативное
        br
        |распространение рекламного сообщение через лидеров
        br
        |мнений. Лидером мнения можно назвать и блогера, и
        br
        |стримера, и вайнера.. Охват которых может
        br
        |варьироваться от 20 тысяч до 2 млн человек.
      p.bold КТО ЭТО
      p.paragraph Аудитория, которую можно таргетировать с помощью такой
        br
        |рекламы крайне многосторонняя, зависит от площадки.
      .paragraph-container
        .paragraphs
          p.paragraph На &nbsp
            span.bold YouTube
            | , то можно найти
            br
            |любую аудиторию, от ребенка
            br
            |до взрослого. Каналы на
            br
            |YouTube очень разнообразны,
            br
            |можно найти любой канал, от
            br
            |2B до рецепта борща.
            br
            | &nbsp
          p.paragraph В &nbsp
            span.bold TikTok &nbsp
            | сосредоточена самая
            br
            |молодая аудитория. Весь
            br
            |контент носит музыкальный и
            br
            |развлекательный характер.
            br
            | Ядром аудитории являются 8
            br
            | миллионов человек в месяц,
            br
            |среди которых 58% девочек
            br
            |16-22 лет.
        .paragraphs
          p.paragraph В &nbsp
            span.bold Twitch &nbsp
            | сосредоточена
            br
            |аудитория геймеров. Эту
            br
            |аудиторию крайне сложно
            br
            |охватить где либо еще, так как
            br
            |70% из них используют
            br
            |AdBlock. Ядро аудитории -
            br
            |юноши 18-25 лет.
          p.paragraph В &nbsp
            span.bold Instagram &nbsp
            | весь контент
            br
            |строится на визуальных
            br
            |образах. Ядром аудитории
            br
            |являются молодые девушки в
            br
            |возрасте 18-27 лет.
    .right-part
      p.bold ГДЕ ЭТО
      p.paragraph
      p.bold YouTube
      p.bold Twitch
      p.bold TikTok
      p.bold Instagram
      p.formats.bold Форматы
      p.paragraph Форматы рекламы
        br
        | разнообразные и зависят от площадки.
        br
        |Если на YouTube и TikTok реклама представлена
        br
        |в формате видео (нативная интеграция или
        br
        |вшитый pre-roll), то в Twitch и Instagram
        br
        |размещается рекламный баннер/пост.



