.section-main
  .container
    .left-part
      h1
        span.bold Wild Digital Agency
        | —
        br
        | Медийное диджитал
        br
        |агенство
      p Мы специализируемся на новейших форматах и площадках, среди которых: видеохостинги,
        br
        |видеостриминговые сервисы, социальные сети и мессенджеры.
      p Мы помогаем брендам успевать за трендами медиапотребления и присутствовать на самых
        br
        | актуальных площадках.
      p.bold Дикий мир новых медиа открыт для вас
      p.weWillSend Мы вышлем вам красивую презентацию, цены и бенчмарки для медиапланирования
      .form-holder
        input(placeholder="Введите ваш e-mail:" type="email")
        .btn Презентация
    .right-part
      img(src="./assets/img/BigLogo.png" class="BigLogoImg")