.container
  img(src="./assets/img/section-about.gif" class="section-about-gif")
  h1.bold Реклама в подписках:
  .parts-container
    .left-part
      p.bold ЧТО ЭТО
      p.paragraph Подкаст или Podcast это авторские аудиодорожки, которые
        br
        |длятся в среднем один час. В течении этого часа, автор может
        br
        |высказываться на определенную тему в соло или пригласить
        br
        |гостей в эфир. За месяц на популярном подкаст канале может
        br
        |выходить до 4 выпусков, охват которых достигает 200 тысяч
        br
        | прослушиваний.
      p.paragraph Контент подкастов разнообразен. Существуют подкасты как
        br
        |на очень узкую аудиторию (напр. геймдизайн), так и на
        br
        |широкую (напр. лайфстайл).
      p.bold КТО ЭТО
      p.paragraph Слушают подкасты в основном за рулем (замена
        br
        |классическому радио), так и в прочих случаях, когда
        br
        |просмотр видео неудобен (замена YouTube).
        br
        |Портрет аудитории меняется от контента, но ядром
        br
        |аудитории является: Обеспеченные мужчины
        br
        |25-30 лет
      p.bold Форматы
      p.paragraph Реклама в подкастах может быть представлена в
        br
        |виде начитки рекламного текста от автора или в
        br
        |виде вставки рекламного джингла.

    .right-part
      ul
        li
          p.bold ГДЕ ЭТО
          p.paragraph Самые популярные площадки
            br
            |для публикации подкастов:
        li
          a
            img(src="./assets/img/googleBanner.png")
        li
          a
            img(src="./assets/img/itunesBanner.png")
        li
          a
            img(src="./assets/img/soundcloudBanner.png")
        li
          a
            img(src="./assets/img/talkBanner.png")
