.container
  img(src="./assets/img/fourth section.gif" class="ad-section-gif")
  h1.bold Медийная реклама
  .parts-container
    .left-part
      p.bold ЧТО ЭТО
      p.paragraph Медийная реклама это размещение рекламных материалов
        br
        |(баннеров/видео) на площадках в сети. Площадки могут
        br
        |быть, как крупные, так и нишевые.
        br
        | Все зависит от потребности рекламодателя.
        br
        |
        br
        | Также, есть два основных вида закупки медийной рекламы:
        br
        | - Автоматизированная (RTB)
        br
        | - Прямая
        br
        |
        br
        |
        br
        | RTB закупки обычно более доступны для рекламо-
        br
        |дателей. Так как подбор площадки проще, цена
        br
        |ниже, уровень контроля выше.
        br
        | Но к сожалению, для автоматизированной закупки
        br
        |площадка отдает только остаточный инвентарь.
        br
        |Соответственно, качество контакта тоже ниже.
        br
        |
        br
        |
        br
        |
        br
        | Прямая закупка рекламы требует более трудо-
        br
        |емкого подхода к выбору площадок. Нужно
        br
        | скрупулезно отобрать площадки, определить-
        br
        |ся с подходящим форматом и договориться о
        br
        |лучших условиях. Но при правильном планиро-
        br
        |вание можно добиться высокого качества
        br
        |контакта по адекватной цене.

    .right-part
      p.bold МЫ ПРЕДЛАГАЕМ
      p.paragraph Удобное пакетное размещение исходя
        br
        |из специфики вашего бизнеса. Мы
        br
        |предлагаем разнообразные пакетные
        br
        |размещения.
        br
        |
        br
        |- Геймеры
        br
        |- Мамы с детьми
        br
        |- Бизнес
        br
        | Прочие


