.sidebar
  .sidebar-container
    img.cross(src='./assets/img/cross.png' onClick="disactivateidebar()")
    img.logo(src='./assets/img/big-text-logo.png')
    ul
      li
        a главная
      li
        a реклама в подкастах
      li
        a медийная реклама
      li
        a реклама у блоггеров
      li
        img(src="./assets/img/phone.png")
        a +7 000-000-00-00
    .img-container
      img(src="./assets/img/facebook.png")
      img(src="./assets/img/mail.png")
      img(src="./assets/img/telegram.png")
    p privacy and cookie policy
    .youtube-container
      p play video
      img(src='./assets/img/youtubeLogo.png')