@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.ttf');
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/GothamPro-Bold.ttf');
}
@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GothamPro-Light.ttf');
}
@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/GothamPro-Black.ttf');
}