doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Wild Digital Agency
		link(type="text/css" rel="stylesheet" href="./assets/css/main.css")
	body
		.desktop
			include includes/footer.pug
			include includes/particles.pug
			include includes/header.pug
			include includes/background.pug
			.first-section(id="home")
				include includes/section-main.pug
			.second-section(id="about")
				include includes/section-about.pug
			.third-section(id="mark")
				include includes/section-marketing.pug
			.fourth-section(id="ad")
				include includes/section-ad.pug
		.mobile
			include includes/sidebar
			include includes/mobile-FirstPage
		script(type="text/javascript" src="assets/scripts/main.js")
		script(type="text/javascript" src="./assets/scripts/script.js")
